node_modules
# Dependencias
node_modules/
**/node_modules/

# Builds y compilaciones
dist/
**/dist/
build/
*.tsbuildinfo
*.app.tsbuildinfo
*.node.tsbuildinfo

# Entornos y secretos
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db